BOOKING_DB_USER=booking_user
BOOKING_DB_PASSWORD=booking_pass
BOOKING_DB_NAME=booking_db
FLIGHT_DB_USER=flight_user
FLIGHT_DB_PASSWORD=flight_pass
FLIGHT_DB_NAME=flight_db
GRPC_API_KEY=super-secret-key
CIRCUIT_BREAKER_FAILURE_THRESHOLD=5
CIRCUIT_BREAKER_RESET_TIMEOUT=15
CIRCUIT_BREAKER_WINDOW_SECONDS=30

REDIS_MODE=standalone
REDIS_HOST=redis-master
REDIS_PORT=6379
REDIS_DB=0
REDIS_TTL_SECONDS=300
GRPC_TIMEOUT_SECONDS=3
